@import "../../sass/variables";

.description-component {
    background: $accent-color;
    color: $accent-text-color;
    padding: 1em;
    height: auto;
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding: 3em;
    margin-top: 5em;
}

.description-profile-pic,
.description-text {
    display: inline-block;
}

#description-profile-pic {
    img {
        //float: left;
        width: 240px;
        height: 280px;
        object-fit: none;
        object-position: 0;
    }
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#description-text {
    p {
        display: inline;
        font-size: 18pt;
    }

    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}
